label {
  display: block;
  margin: 0 0 6px 0;
}
input {
  display: block;
  padding: 6px;
  min-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
button {
  padding: 6px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
button:hover {
  cursor: pointer;
}
button:disabled {
  color: #ccc;
  background-color: #eee;
  cursor: auto;
}

