* {
  box-sizing: border-box;
}
.row:after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
/* Mise en page pour les téléphones intelligents. */
[class*="col-"] {
  width: 100%;
}
/* Mise en page pour les tablettes électroniques. */
@media only screen and (min-width: 600px) {
  .col-md-01 {
    width: 8.33%;
  }
  .col-md-02 {
    width: 16.66%;
  }
  .col-md-03 {
    width: 25%;
  }
  .col-md-04 {
    width: 33.33%;
  }
  .col-md-05 {
    width: 41.66%;
  }
  .col-md-06 {
    width: 50%;
  }
  .col-md-07 {
    width: 58.33%;
  }
  .col-md-08 {
    width: 66.66%;
  }
  .col-md-09 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/* Mise en page pour les ordinateurs de bureau. */
@media only screen and (min-width: 768px) {
  .col-lg-01 {
    width: 8.33%;
  }
  .col-lg-02 {
    width: 16.66%;
  }
  .col-lg-03 {
    width: 25%;
  }
  .col-lg-04 {
    width: 33.33%;
  }
  .col-lg-05 {
    width: 41.66%;
  }
  .col-lg-06 {
    width: 50%;
  }
  .col-lg-07 {
    width: 58.33%;
  }
  .col-lg-08 {
    width: 66.66%;
  }
  .col-lg-09 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
